body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.navigation {
    text-align: center;
    margin-bottom: 30px;
}

button {
    padding: 8px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
    margin: 10px 10px;
}

button:hover {
    background-color: #0056b3;
}

.page {
    display: none;
}

#catalog-page {
    display: block;
}

.questionnaire-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 250px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.card .actions {
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

.pagination button {
    background-color: #28a745;
}

.pagination button:hover {
    background-color: #218838;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#page-num {
    width: 200px; 
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
}